repo-local/
gft-coding-the-future-git-github/

01_java_essencial_e_desenvolvimento_colaborativo_com_git/03_ambiente_de_desenvolvimento_java/meu-projeto-intellij/.idea

01_java_essencial_e_desenvolvimento_colaborativo_com_git/03_ambiente_de_desenvolvimento_java/meu-projeto-intellij/projeto-java.iml

01_java_essencial_e_desenvolvimento_colaborativo_com_git/03_ambiente_de_desenvolvimento_java/meu-primeiro-projeto-eclipse/.metadata

01_java_essencial_e_desenvolvimento_colaborativo_com_git/03_ambiente_de_desenvolvimento_java/meu-primeiro-projeto-java-do-curso/.vscode
